<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.library.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.library.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.library.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.library.controller.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.library.controller.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookServlet</servlet-name>
        <servlet-class>com.library.controller.ViewBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IssueBookServlet</servlet-name>
        <servlet-class>com.library.controller.IssueBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookServlet</servlet-name>
        <servlet-class>com.library.controller.EditBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewIssuedBookServlet</servlet-name>
        <servlet-class>com.library.controller.ViewIssuedBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBookForEditServlet</servlet-name>
        <servlet-class>com.library.controller.GetBookForEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/AddBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookServlet</servlet-name>
        <url-pattern>/ViewBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IssueBookServlet</servlet-name>
        <url-pattern>/IssueBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookServlet</servlet-name>
        <url-pattern>/EditBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewIssuedBookServlet</servlet-name>
        <url-pattern>/ViewIssuedBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBookForEditServlet</servlet-name>
        <url-pattern>/GetBookForEditServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
